@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: rgb(231, 223, 145);
}


 #menu a, button{
     font-size: 18px ;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
 }


 #menu a{
     color:#a02ce4;
     
 }


#intro {
    font-size: 20px  ;
    color: #fffcfc;
   
}

     
     
#bg-contactos{
    position:relative;
    top: -110px;
} 


#contenedor-formulario{
    position:absolute;
    top:30%;
    left:100%;
    transform: translate(-50%, -50%);
    background: #da4848;
    border-radius:5px;
    
}



#titulo-formulario {
    color: #0c0c0c;
    
}


#seccion-contact {
background-color: #da4848;
}


footer {
    background: #395baa;
    min-height: 50px;;
}


footer p{
    color:#f5efef;
    text-align:center;
}


#iconos  i {
    font-size: 30px;
    padding: 0 8px;
    color:#f8fbfd;
    background-color: rgb(7, 7, 7);
}






@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% ;
    }
    #servicios-fila-1 {
        width:100% ;
    }

    .icono-wrap{
        flex-wrap:wrap ;
        justify-content: center ;
        text-align: center;
    }
}
